<a href="https://colab.research.google.com/github/MaidenTaief/Music_Final/blob/main/Merge_genre_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

# Dataset path
dataset_path = '/content/drive/My Drive/DATASET'

# Load Data
genre_csv = pd.read_csv(f'{dataset_path}/data_w_genres.csv')
label_data = pd.read_csv(f'{dataset_path}/data_final_with_descriptive_labels.csv')


import ast  # For safely evaluating strings containing Python expressions

def clean_artists_names(x):
    if x.startswith('['):
        x = ast.literal_eval(x)
        return ', '.join(x)
    return x.strip()

genre_csv['artists'] = genre_csv['artists'].str.strip()
label_data['artists'] = label_data['artists'].apply(clean_artists_names)

# Merge the datasets on the 'artists' column
merged_data = pd.merge(
    label_data[['artists', 'name', 'popularity', 'year', 'cluster', 'Cluster_Description']],
    genre_csv[['artists', 'genres']],
    on='artists',
    how='left'
)

# Normalize genre data
merged_data['genres'] = merged_data['genres'].apply(lambda x: 'Unknown' if pd.isna(x) or x == '[]' else x)

def normalize_genres(genre_list):
    if genre_list == 'Unknown':
        return 'Unknown'
    genre_list = ast.literal_eval(genre_list) if isinstance(genre_list, str) else genre_list
    return ' / '.join(sorted(set(genre_list)))

merged_data['genres'] = merged_data['genres'].apply(normalize_genres)

print(merged_data.sample(10))
print(merged_data.info())
print(merged_data.describe())

                               artists  \
44556                      Eartha Kitt
162778          Brian Eno, David Byrne
79098   Francisco Canaro, Mario Alonso
48909                      Little Feat
164994           El Haragán y Compañía
104679                     Eva Cassidy
3347                     Benny Goodman
81283                  Louis Armstrong
128780                    The Olympics
65326                              Yes

                                                     name  popularity  year  \
44556                          Uska Dara - A Turkish Tale          23  1956
162778                                 Moonlight in Glory          21  1981
79098                     Noche de Niebla - Remasterizado           0  1953
48909   Spanish Moon - Live at Lisner Auditorium, Wash...          35  1978
164994                                  Antes Me Gustabas          40  1992
104679                                       Kathy's Song          50  2000
3347                                        Avalon - Live           0  1938
81283                              Be My Life's Companion          25  1964
128780                                        Hully Gully          12  1960
65326                          Your Move - Single Version          35  1971

        cluster              Cluster_Description  \
44556         1        Joyful / Danceable / Live
162778        1        Joyful / Danceable / Live
79098         3        Mellow / Vibrant / Joyful
48909         0  Varied Tempo / Vibrant / Mellow
164994        0  Varied Tempo / Vibrant / Mellow
104679        3        Mellow / Vibrant / Joyful
3347          2       Lyrical / Live / Danceable
81283         1        Joyful / Danceable / Live
128780        1        Joyful / Danceable / Live
65326         1        Joyful / Danceable / Live

                                                   genres
44556   adult standards / lounge / torch song / vocal ...
162778                                            Unknown
79098                                             Unknown
48909   blues rock / classic rock / country rock / ele...
164994             rock en espanol / rock urbano mexicano
104679       adult standards / folk / lilith / vocal jazz
3347    adult standards / bebop / big band / jazz / ja...
81283   adult standards / dixieland / harlem renaissan...
128780                         doo-wop / rhythm and blues
65326   album rock / art rock / classic rock / hard ro...
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170653 entries, 0 to 170652
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   artists              170653 non-null  object
 1   name                 170653 non-null  object
 2   popularity           170653 non-null  int64
 3   year                 170653 non-null  int64
 4   cluster              170653 non-null  int64
 5   Cluster_Description  170653 non-null  object
 6   genres               170653 non-null  object
dtypes: int64(3), object(4)
memory usage: 9.1+ MB
None
          popularity           year        cluster
count  170653.000000  170653.000000  170653.000000
mean       31.431794    1976.787241       1.790429
std        21.826615      25.917853       1.423211
min         0.000000    1921.000000       0.000000
25%        11.000000    1956.000000       1.000000
50%        33.000000    1977.000000       1.000000
75%        48.000000    1999.000000       3.000000
max       100.000000    2020.000000       4.000000

In [4]:
merged_data.to_csv(f'{dataset_path}/data_final_cleaned1.csv', index=False)